.title {
  background-color: #68759e;
  min-height: 121px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 70px;
  }
}
